@import '../../../global-stylesheets/variables.scss';
.header-featured-project {
    margin: 15px auto;
    font-size: 2em;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    span {
        margin-right: 10px;
    }
    i {
        cursor: pointer;
        color: $main-gray-color;
    }
    i.toggled+app-project-description {
        display: block;
    }
}

app-project-description {
    display: none;
    padding: 15px;
    margin-top: 10px;
    z-index: 1; //necessario
}

app-project-images {
    height: 250px;
}

@media (min-width: 768px) {
    app-project-images {
        height: 290px;
    }
}

@media (min-width: 992px) {
    app-project-images {
        height: 330px;
    }
}

@media (min-width: 1200px) {
    app-project-images {
        min-height: 380px;
    }
}

hr {
    background-color: $main-color;
    border: none;
    height: 2px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descricao-projeto {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    text-align: justify;
}

.links-projeto {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    a {
        border: 2px solid $secondary-color;
        background-color: $tertiary-color;
        color: $main-color;
        padding: 5px 20px;
        text-decoration: none;
        transition-property: transform, background-color;
        transition: 0.15s ease-in-out;
        box-shadow: 0px 0px 3px $secondary-color;
    }
    a:hover:not(.unavailable) {
        transform: scale(1.05);
    }
    a.unavailable {
        color: gray;
        opacity: 0.8;
        box-shadow: none;
    }
    a.unavailable:hover {
        cursor: not-allowed;
    }
}

@media (min-width: 992px) {
    app-project-description {
        background-color: $tertiary-color;
        box-shadow: 0px 0px 5px $main-color;
        border: 2px solid $main-color;
        display: block;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-left: 20px;
        margin-top: unset;
        min-width: 300px;
        max-width: 400px;
        transform: translateY(-50%) scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease-in-out;
    }
    i.toggled+app-project-description,
    app-project-description:hover {
        transform: translateY(-50%) scaleX(1);
    }
}