<header>

    <app-logo></app-logo>

    <label for="navbar-toggler" class="navbar-toggler-button {{ menuOpen ? 'menu-open' : '' }}"
        (click)="menuTogglerButtonClick()">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
    </label>

    <div class="navbar-container">
        <input type="checkbox" id="navbar-toggler" />
        <nav class='navbar'>
            <ul>
                <li>
                    <a routerLink='/' class="{{ (router.url === '/') ? 'current-route' : '' }}">
                        Apresentação
                    </a>
                </li>
                <!-- <li>
                    <a routerLink='skills' class="{{ (router.url === '/skills') ? 'current-route' : '' }}">
                        Skills
                    </a>
                </li> -->
                <li>
                    <a routerLink='curriculo' class="{{ (router.url === '/curriculo') ? 'current-route' : '' }}">
                        Currículo
                    </a>
                </li>
                <!-- <li>
                    <a routerLink='projects' class="{{ (router.url === '/projects') ? 'current-route' : '' }}">
                        Projetos
                    </a>
                </li> -->
                <li>
                    <a routerLink='contact' class="{{ (router.url === '/contact') ? 'current-route' : '' }}">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</header>