<section>
    <div class="intro">
        <h1>Tiago Batista</h1>
        <hr>
        <div id="general-info">
            <a target="_blank" href="https://linkedin.com/in/batistatiago" class="centered-flex-container">
                <i class="fab fa-linkedin"></i>
                <span>/in/batistaTiago</span>
            </a>
            <a href="mailto:ekyidag@gmail.com" class="centered-flex-container">
                <i class="fas fa-envelope"></i>
                <span>ekyidag@gmail.com</span>
            </a>
            <a target="_blank" href="https://github.com/batistatiago" class="centered-flex-container">
                <i class="fab fa-github"></i>
                <span>/batistaTiago</span>
            </a>

        </div>

    </div>

    <hr>

    <div id="experience">
      <h2>Experiência Profissional</h2>
      <ul class="lista-experience">
        <li>
          <div>
            <span class="company-name">LessClick Systems LTDA</span>
            <span class="job-location">Remoto</span>
          </div>
          <div>
            <span class="job-title">Desenvolvedor Back End Pleno</span>
            <span class="job-timeline">Agosto/2019 - Atual</span>
          </div>
          <ul class="job-items">
            <li>Atuação no ciclo completo de desenvolvimento das aplicações de sistemas de vendas de ingressos e consumíveis para eventos (marketplace), desde a sua concepção e passando por desenvolvimento, testes, operação e manutenção.</li>
            <li>Linguagens: HTML, CSS, JavaScript, PHP</li>
            <li>Frameworks: Bootstrap, Laravel</li>
            <li>Serviços integrados: Pagamento (GetNet e PayPal), Firebase (Auth e Firestore), ViaCEP, Google Maps, Google Pay, entre outros</li>
          </ul>
        </li>
        <li>
          <div>
            <span class="company-name">BraveCloud Tecnologia da Informação</span>
            <span class="job-location">Natal/RN - Brasil</span>
          </div>
          <div>
            <span class="job-title">Analista de Desenvolvimento</span>
            <span class="job-timeline">Março/2018 - Outubro/2018</span>
          </div>
          <ul class="job-items">
            <li>Desenvolvimento de um framework para edição e processamento de imagens para MacOS e aplicações escritas em cima do próprioframework.</li>
            <li>Linguagens: Swift</li>
          </ul>
        </li>
        <li>
          <div>
            <span class="company-name">BraveCloud Tecnologia da Informação</span>
            <span class="job-location">Natal/RN - Brasil</span>
          </div>
          <div>
            <span class="job-title">Estagiário</span>
            <span class="job-timeline">Junho/2017 - Novembro/2017</span>
          </div>
          <ul class="job-items">
            <li>Desenvolvimento de aplicações para Universal Windows Platform e MacOS.</li>
            <li>Linguagens: C# e Swift</li>
          </ul>
        </li>
      </ul>
    </div>

    <hr>

    <div id="education">
        <h2>Formação</h2>
        <ul class="lista-formacoes">
            <li>
                Bacharelado em Ciências e Tecnologia (UFRN)
            </li>
            <li>
                Engenharia Mecatrônica (UFRN)
            </li>
        </ul>
    </div>

    <hr>


    <div id="qualifications">
        <h2>Qualificações</h2>
        <div class="general-qualifications">

            <div class="general-qualification">
                <span>Front-end</span>
                <ul class="specific-qualifications">
                    <li *ngFor="let qual of frontEndQualifications">{{ qual.name }}</li>
                </ul>
            </div>

            <!-- <div class="separator"></div> -->

            <div class="general-qualification">
                <span>Back-end</span>
                <ul class="specific-qualifications">
                    <li *ngFor="let qual of backEndQualifications">{{ qual.name }}</li>
                </ul>
            </div>

            <div class="general-qualification">
                <span>Outros</span>
                <ul class="specific-qualifications">
                    <li *ngFor="let qual of otherQualifications">{{ qual.name }}</li>
                </ul>
            </div>

            <!-- <div class="separator"></div>
        
        <div class="general-qualification">
          <span>Mobile</span>
          <ul class="specific-qualifications">
            <li>
              Swift
            </li>
            <li>
              Kotlin
            </li>
            <li>
              Ionic
            </li>
          </ul>
        </div> -->
        </div>




    </div>

    <hr>

    <div>
        <div class="hideable-content-toggler">
            <label for="expand-icon">Informações adicionais</label>
            <button id="expand-icon" class="{{ showAdditionalInfo ? 'toggled' : '' }}" (click)="toggleAdditionalInfo()">
          <div class="vertical"></div>
          <div class="horizontal"></div>
        </button>
        </div>

        <div class="hideable-content {{ showAdditionalInfo ? 'visible' : '' }}">

            <ul class="additional-info-list">
                <li>
                    <h2>Cursos a distância</h2>
                    <ul class="courses-list">
                        <li *ngFor="let course of courses">
                            <a target="_blank" href="{{ course.url }}" title="{{ course.linkTitle }}">
                                <i class="fas fa-link"></i> {{ course.courseTitle }}
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <h2>Linguagens de programação</h2>
                    <ul class="programming-languages-list">
                        <li *ngFor="let lang of programmingLanguages">{{ lang.name }}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


</section>