@import '../../global-stylesheets/variables.scss';
*:not(i) {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 0px;
    padding-bottom: 15px;
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

section>div {
    margin-top: 20px;
    margin-bottom: 20px;
}

i {
    color: pink;
}

a.centered-flex-container {
    text-decoration: none;
}

a.centered-flex-container:hover {
    span {
        text-decoration: underline;
    }
}

.intro {
    h1 {
        font-size: 2.5em;
        text-shadow: 0px 0px 15px $secondary-color;
        text-align: right;
    }
    * {
        color: $main-color;
    }
}

#general-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .centered-flex-container:not(:last-child) {
        margin-bottom: 10px;
        span {
            font-weight: 100;
        }
    }
    i {
        margin-right: 5px;
    }
}

#education, #qualifications, #experience {
    h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.65em;
    }
}

.lista-experience {

    margin-top: 20px;

    li {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        & > div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;

            .company-name {
                font-size: 1.35em;
                font-weight: bolder;
            }
            .job-location {
                font-style: italic;
                font-size: 0.8em;
            }
            .job-title {
                font-size: 0.8em;
                font-weight: bold;
            }

            .job-timeline {
                font-size: 0.8em;
            }
        }

        & > ul.job-items {
            margin-top: 10px;
            margin-left: 15px;
            list-style: circle;
            font-size: 0.8em;
            li {
                margin-bottom: 5px;
            }
        }
    }
}

.lista-formacoes {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 100;
    flex-wrap: wrap;
    li {
        text-shadow: 0px 0px 5px $secondary-color;
        flex-basis: 50%;
        text-align: center;
        font-size: 0.9em;
    }
    li:first-child {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.general-qualifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .general-qualification {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        span {
            display: block;
            font-size: 1.35em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }
        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 200px;
            border: 2px solid $main-color;
            box-shadow: 0px 0px 10px $main-color;
            padding-top: 5px;
            padding-bottom: 5px;
            li {
                font-size: 1em;
                // line-height: 12px;
                margin: auto;
            }
            li:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.additional-info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
        text-align: justify;
    }
    ul {
        padding: 0px 15px;
        margin-top: 10px;
        font-size: 1.1em;
    }
    ul>li:not(:last-child) {
        margin-bottom: 15px;
    }
}

.additional-info-list>li:first-child {
    margin-bottom: 25px;
}

.courses-list {
    li {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            i {
                color: $secondary-color;
            }
        }
    }
}

@media (min-width: 992px) {
    section {
        margin-top: 15px;
        padding: 15px;
    }
    section>div:not(.intro):not(:last-child) {
        padding: 15px 50px;
    }
    #general-info {
        flex-direction: row;
        padding-left: 200px;
        padding-right: 200px;
        .centered-flex-container:not(:last-child) {
            margin-bottom: unset;
        }
    }
    // .lista-formacoes {
    //     flex-direction: row;
    //     justify-content: space-between; 
    // }
    .general-qualifications {
        .general-qualification {
            flex-basis: 25%;
        }
    }
    .additional-info-list {
        flex-direction: row;
        justify-content: space-around;
    }
}